<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block style %}{% endblock %}
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4"><ya-tr-span data-index="1-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Chaka" data-translation="Простой заголовок" data-type="trSpan">Chaka</ya-tr-span></span>
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link {% block active_main %}{% endblock %}" aria-current="page"><ya-tr-span data-index="2-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-type="trSpan">Главная</ya-tr-span></a></li>
            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link {% block active_profile %}{% endblock %}"><ya-tr-span data-index="3-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Features" data-translation="Профиль" data-type="trSpan">{% block name_profile %}{% endblock %}</ya-tr-span></a></li>
            <li class="nav-item"><a href="{% url 'Парсинг серверов McOnly' %}" class="nav-link {% block active_parsing %}{% endblock %}"><ya-tr-span data-index="4-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Парсинг серверов McOnly" data-type="trSpan">Парсинг McOnly</ya-tr-span></a></li>
    <!--        <li class="nav-item"><a href="#" class="nav-link"><ya-tr-span data-index="5-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="FAQs" data-translation="Вопросы и ответы" data-type="trSpan">FAQs</ya-tr-span></a></li>-->
    <!--        <li class="nav-item"><a href="#" class="nav-link"><ya-tr-span data-index="6-0" data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="About" data-translation="О нас" data-type="trSpan">About</ya-tr-span></a></li>-->
          </ul>
        </header>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>